<ul class="stepper-container" [class.stepper-container__column]="isColumn">
	<li class="stepper-line" *ngFor="let item of listText; let i = index">
		<a class="action" 
		[class.action__column]="isColumn"
		(click)="sendStepper.emit(item)">
			<i class="{{ item.Icon }} icons"
				[class.icons__column]="isColumn"
				[class.icons__order]="order"></i>
			<div class="stepper"
			[class.stepper__column]="isColumn"
			[class.stepper__stepper_color]="item.completed"
			[class.stepper__order]="order"
			[ngStyle]="{'justify-content': iconDirection}">		
		</div>
		<ng-template ngTemplateOutlet="item.template"></ng-template>

		</a>
	</li>
</ul>
