<div class="container">
  <div class="header-time">
    <button class="btn" id="btn-back-calendar" (click)="backMonth()">
      <i class="fas fa-angle-left"></i>    
    </button>
    <div class="month-year-container">
      <p class="month">{{ localeDates._months[month + increment] }}</p>
      <p class="year">{{ date | date:'y' }}</p>
    </div>
    <button class="btn" id="btn-next-calendar" (click)="nextMonth()">
      <i class="fas fa-angle-right"></i>
    </button>
  </div>
  <div class="line-week">
    <p *ngFor="let day of listWeek; let i = index">{{ day }}</p>
  </div>
  <div class="weekdays" *ngFor="let item of months; let i = index">
    <div class="column" *ngFor="let day of months[i]; let j = index" [ngClass]="{'atual': initialDay === day }"  (click)="selectDay(day)">
      <p>{{ day ? day :  '-' }}</p>
    </div>
  </div>
</div>