@import '../../../../assets/styles/variables';

.container {
  width: 306px;
  height: auto;

  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  border-radius: 7px;

  .header-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    .btn {
      border: none;
      background-color: transparent;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
    .month-year-container {
      display: flex;
      .month {
        text-transform: capitalize;
        margin-right: 5px;
      }
      .month, .year {
        font-family: $lopes;
        font-weight: bold;
        font-size: 13px;
        line-height: 20px;
        color: #2A2A2A;
      }
    }
    
  }
  .line-week {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #DFDFDF;
    border-top: 1px solid #DFDFDF;
    p {
      padding: 14px 0;
      grid-template-columns: repeat(7, 1fr);
      flex-grow: 1;
      text-align: center;

      font-family: $lopes;
      font-weight: bold;
      font-size: 13px;
      line-height: 20px;
      color: #2A2A2A;
    }
  }
  .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    .column {
      padding: 10px 0;
      grid-template-columns: repeat(7, 1fr);
      flex-grow: 1;
      margin: auto 0;
      &.atual {
        box-sizing: border-box;
        background-color: #eb184923;
        border-radius: 7px;
        p {
          text-align: center;
          border-radius: 7px;
          font-weight: bold;
          font-size: 11px;
          line-height: 16px;
          text-align: center;
          color: #EB184A;
        }
      }
      p {
        cursor: pointer;
        display: flex;
        justify-content: center;
        font-family: $lopes;
        font-size: 11px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        color: #2A2A2A;
      }
    }
  }
}