.container {
  width: 400px;
  height: 400px;
  border: 2px solid #CCC;
  color: red;
  box-sizing: border-box;

  .header-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #CCC;
  }
  .line-week {
    display: flex;
    align-items: center;
    p {
      padding: 10px 0;
      grid-template-columns: repeat(7, 1fr);
      flex-grow: 1;
    }
  }
  .weekdays {
    border-bottom: 2px solid #CCC;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    .column {
      padding: 10px 0;
      grid-template-columns: repeat(7, 1fr);
      flex-grow: 1;
      p {
        display: flex;
        justify-content: center;
      }
    }

  }
}
