<div class="medium-stepper">
  <div class="stepper-default">
    <h4>Stepper Default</h4>
    <app-stepper [listIcons]="listIcons" [iconDirection]="direct" (sendStepper)="stepperEvent($event)"></app-stepper>
  </div>
</div>
<div class="medium-text">
  <div class="stepper-default">
    <h4>Stepper Text</h4>
    <app-stepper-text [listText]="listText" [iconDirection]="directIconText" (sendStepper)="stepperEvent($event)">
    </app-stepper-text>
  </div>
</div>

<div #test>
  <h2>test</h2>
</div>

<div #test1>
  <h2>test 1111</h2>
</div>